@page
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@model BugNet.Pages.IndexModel

<h1>My Bugs</h1>

<a asp-page="./create"  class="btn btn-success">Create</a>

@if (TempData["message"] is not null)
{
    <div class="alert alert-info m-3">
        @TempData["message"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Desc.</th>
            <th>Is Done</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.BugList)
        {
            <tr>
                <td>@bug.Name</td>
                <td>@bug.Description</td>
                <td>@bug.IsDone</td>
                <td>
                    <a asp-page="./edit" asp-route-id="@bug.Id" class="btn btn-primary">Edit</a>

                    <feature name="@BugNet.FeatureFlags.DeleteBugs">
                        <a asp-page="./delete" asp-route-id="@bug.Id" class="btn btn-danger">Delete</a>
                    </feature>
        
                      
         
                    
                </td>
            </tr>
        }
      
    </tbody>
</table>

<p>Undone items: @Model.UnDoneCount</p>